html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	height: 350px;
	width: 100%;
	border-bottom: 3px solid #77a466;
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

header h1 {
	width: 100%;
	margin: 0;
	padding: 0px 0px 20px 0px;
	text-align: center;
	border-bottom: 3px solid #77a466;
}
header h1 span {
	color: #77a466;
}

header nav {
	width: 100%;
	padding: 0;
	margin: 0;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	text-align: center;
	line-height: 3em;
	font-weight: 700;
	font-size: 0.875em;
	padding: 0px;
	margin: 0px;
	display: block;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title h3 {
	text-align: left;
	padding: 0px 10px 0px 10px;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
	padding: 0px 10px 0px 10px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
}

.section-one h4 {
	padding: 10px 0px;
}

.section-two {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.section-one h4,
.section-two h4,
.section-three h4 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding: 10px 30px;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	height: 50px;
	border-top: 3px solid #eee;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}


/* MEDIA QUERIES */
/* ----------- Tablets larger than 768px wide ----------- */
@media (min-width: 768px) and (max-width: 1199px) {
	body {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.container{
		max-width: 1199px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column wrap;
	}

	.bottom-section {
		flex-flow: row nowrap;
		align-items: flex-start;
	}
	
	.section-one,
	.section-two,
	.section-three {
		width: 33%;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}

}

/* ----------- Monitors larger than 1200px wide ----------- */
@media (min-width: 1200px){
	body {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	header {
		height: 150px;
		flex-flow: row wrap;
		padding: 0px 30px 0px 30px;
		border: none;
	}
	header h1 {
		width: 33%;
		font-size: 2em;
		text-align: left;
		margin: 0;
		padding: 0;
		border: none;
	}
	header nav {
		width: 66%;
		text-align: right;
		margin: 0;
		padding: 0;
	}
	header nav ul li {
		display: inline-block;
	}
	header nav ul li a {
		text-transform: uppercase;
		text-decoration: none;
		font-size: 14px;
		color: #77a466;
		font-variant: small-caps;
		font-weight: 700;
		list-style: none;
		padding-left: 20px;
	}

	.container{
		max-width: 1280px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
	}

	.top-section {
		padding: 0px 30px 0px 30px;
	}

	.bottom-section {
		flex-flow: row nowrap;
		align-items: flex-start;
	}
	
	.section-one,
	.section-two,
	.section-three {
		width: 33%;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}
}
